# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
/dist/
/build/
/.vite/
/.cache/
/.parcel-cache/
/coverage/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Editor
.vscode/
.idea/

# Docs
/documentation/

# Misc
*.tgz
